$primary: rgb(123, 31, 162);
$primary_trans: rgba(123, 31, 162, 0.15);

.dropZone {
  border: 2px dashed $primary;
  width: 600px;
  height: 300px;
  max-width: 100%;
  max-height: 50vh;
  transition: 0.5s all;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
  padding: 18px;
  margin-top: 32px;
}

.drop-hover {
  background-color: $primary_trans;
}

.inner-text {
  font-size: 27px;
}

$icon_size: 64px;

.cloud-icon {
  font-size: $icon_size;
  margin-left: calc((100% - 64px) / 2)
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100000;

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #888;
    border-radius: 16px;
    padding: 24px;


    h3 {
      margin: 0;
    }
  }
}

:host::ng-deep ngx-doc-scanner {
  button {
    width: fit-content;
    border-radius: 0;
    padding: 0 10px;
  }
}
